<!-- Created by Bogdan Strizheus on 08/28/2020
Partial for header, used on all pages-->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <%=link_to "MVS", root_path, :class => "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <!-- Shows account settings if user is signed in -->
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Settings", edit_user_registration_path, :class => "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <!-- Checks if user is signed in to give certain options -->
        <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => "nav-link" %>
        <% else %>
            <%= link_to "Login", new_user_session_path, :class => "nav-link" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>




